.lign-acces {
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ppp{
    overflow-y: auto;
}
.scrolling-seasons{
     scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}
.scrolling-seasons::scroll-marker-group{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    gap:.5em;
    align-items: center;
    
}
.season-marker::scroll-marker{
    content: '.';
    height: .9em;
    background-color: rgb(20, 17, 21);
    border: 2px solid rgba(41, 3, 44, 0.667);
    width: .9em;
    border-radius: 50%;
}
.season-marker::scroll-marker:target-current{
    background-color: rgba(119, 119, 4, 0.667);
}
.scrolling-seasons::-webkit-scrollbar {
    display: none;
    behavior: smooth;
}
