.ep-scrolling {
    anchor-name: --scrolling;
    scroll-snap-type: y mandatory;
}
.ep-scrolling::-webkit-scrollbar {
    display: none;
    behavior: smooth;
}

.ep-scrolling::scroll-button(left),
.ep-scrolling::scroll-button(right) {
    
    /* content: '→';
    font-size: 19px;
    font-family: Consolas;
    width: 30px;
    height: 70px;
    color: white;
    font-size: xx-large;
    background-color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    padding:5px;*/
    position-anchor: --ep-scrolling; 
    margin-top: 100px;
    position-area: right center;
    position: fixed; 
}
.ep-scrolling::scroll-button(left):disabled,
.ep-scrolling::scroll-button(right):disabled{
    cursor: auto;
    opacity: 100%;
}
.ep-scrolling::scroll-button(left) {
    content: '←';
    margin-right: 10px;
    position-anchor: --ep-scrolling;
    position-area: left center;
}