body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(28, 0, 62);
  width: 100%;
}
textarea{
  scrollbar-width: none;
}
.ep-scroll-bar{
  /* scroll-behavior: smooth;
  scrollbar-color: black; */
  scrollbar-width: none;
}